<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome=">
    <title><%=name %></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body id="content">
		<script type="text/javascript" src="thirdparty.js"></script>
    <script type="text/javascript" src="app.js"></script>
		<script>
			var adapterConfig = {
				type: "foxx",
				route: ""
			};
			var ui = new GraphViewerUI($("#content")[0], adapterConfig, 940, 680);
		</script>
  </body>
</html>