.popover {
	width: 400px;
}
.ownFunction {
  padding: 5px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow:10px 10px 5px #888888;
}

.fixedName {
  line-height: 30px;
}

ul.nav-interior {
  margin-bottom: 0px;
}

ul.nav {
cursor: pointer;
}
/* Adding some more sizes to twitter bootstrap */

.span13 {
  width: 1020px;
}

.span14 {
  width: 1100px;
}

.span15 {
  width: 1180px;
}

div.modal {
width: 60%;
margin-left: -30%;
}