<%
var req = false;
var p = "";
if (typeof requestOverwrite != "undefined") {
  req = true;
}
if (typeof path != "undefined") {
  p = path;
}
%>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Generating</h3>
</div>

<div class="modal-body" id="dialog-content">
  <%if(req) {%>
    <p>
      A widget with this name already exists.<br />
      Overwrite? 
    </p>
    <button id="decline" class="btn btn-error">Cancel</button>
    <button id="confirm" class="btn btn-success">Overwrite</button>
  <%} else if (p !== "") { %>
    <p>
      Your Widget is now available on the path:<br />
      <a href="<%=p %>" target="_blank"><%=p %></a><br />
      <button id="decline" class="btn btn-success">OK</button>
    </p>
  <% } else { %>
    Please be patient.
  <% } %>
</div>
