<%
var req = false;
var p = "";
if (typeof requestOverwrite != "undefined") {
  req = true;
}
if (typeof path != "undefined") {
  p = path;
  ifpath = "";
  ifpath += window.location.protocol;
  ifpath += "//"
  ifpath += window.location.host;
  ifpath += path;
  ifpath += "/index.html?start=<_id>";
}
%>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Generating</h3>
</div>

<div class="modal-body" id="dialog-content">
  <%if(req) {%>
    <p>
      A widget with this name already exists.<br />
      Overwrite? 
    </p>
    <button id="decline" class="btn btn-error">Cancel</button>
    <button id="confirm" class="btn btn-success">Overwrite</button>
  <%} else if (p !== "") { %>
    <p>
      Your Widget is now available on the path:<br />
      <a href="<%=p %>" target="_blank"><%=p %></a><br />
      <br />
      <br />
      You can directly embed it using this iframe where you should replace the &lt;_id&gt;:<br />
      <code>&lt;iframe height="100%" width="100%" src="<%= ifpath %>"&gt;&lt;/iframe&gt;</code><br />
      <button id="decline" class="btn btn-success">OK</button>
    </p>
  <% } else { %>
    Please be patient.
  <% } %>
</div>
