<ul class="nav nav-pills nav-stacked">
  <li class="nav-header">Options</li>
  <li><a>New...</a></li>
  <li><a>Load...</a></li>
  <li class="nav-header">Edit App</li>
  <li class="active"><a>Meta Information</a></li>
  <li class="nav-header">Actions</li>
  <li><a>createNode</a></li>
  <li><a>patchNode</a></li>
  <li><a>deleteNode</a></li>
  <li><a>on Node Delete</a></li>
  <li><a>createEdge</a></li>
  <li><a>patchEdge</a></li>
  <li><a>deleteEdge</a></li>
</ul>