<li class="nav-header">Actions</li>
<li id="loadNode"><a>loadNode</a></li>
<li id="createNode"><a>createNode</a></li>
<li id="patchNode"><a>patchNode</a></li>
<li id="deleteNode"><a>deleteNode</a></li>
<li id="createEdge"><a>createEdge</a></li>
<li id="patchEdge"><a>patchEdge</a></li>
<li id="deleteEdge"><a>deleteEdge</a></li>
<li id="edgesForNode"><a>on Node Delete</a></li>