<ul class="nav nav-pills nav-stacked">
  <li class="nav-header">Options</li>
  <li id="new"><a>New...</a></li>
  <li id="load"><a>Load...</a></li>
  <% if (app.loadedApp) {%>
  <li class="nav-header">Edit App</li>
  <li id="meta"><a>Meta Information</a></li>
  <ul class="nav nav-pills nav-stacked" id="actions_menu" />
  <% } %>
</ul>
<% if (app.loadedApp) {%>
  <button id="generate" class="btn btn-success">Generate</button>
<% } %>