<ul class="nav nav-pills nav-stacked">
  <li class="nav-header">Options</li>
  <li id="new"><a>New...</a></li>
  <li id="load"><a>Load...</a></li>
  <li class="nav-header">Edit App</li>
  <li id="meta"><a>Meta Information</a></li>
  <li class="nav-header">Actions</li>
  <li id="createNode"><a>createNode</a></li>
  <li id="patchNode"><a>patchNode</a></li>
  <li id="deleteNode"><a>deleteNode</a></li>
  <li id="createEdge"><a>createEdge</a></li>
  <li id="patchEdge"><a>patchEdge</a></li>
  <li id="deleteEdge"><a>deleteEdge</a></li>
  <li id="edgesForNode"><a>on Node Delete</a></li>
</ul>