<a
  data-toggle="popover"
  rel="tooltip"
  data-placement="bottom"
  data-original-title="The storage object maintaining your collections. It offers the functions:"
  data-html=true
  data-content="<ul type=none>
  <li><b>insertEdge(data)</b>
  Inserts an edge with the given data. Requires data._from and data._to to be valid ids of documents.</li>
  <li><b>patchEdge(id, data)</b>
  Patches the edge with the given id with the given data. New attributes will be added and existing attributes will be overwritten.</li>
  <li><b>deleteEdge(id)</b>
  Deletes the edge with the given id.</li>
  <li><b>insertNode(data)</b>
  Inserts a node with the given data.</li>
  <li><b>patchNode(id, data)</b>
  Patches the node with the given id with the given data. New attributes will be added and existing attributes will be overwritten.</li>
  <li><b>deleteNode(id)</b>
  Deletes the node, and only the node, with the given id.</li>
  <li><b>deleteEdgesForNode(key)</b>
  Deletes all edges adjacent to the given node. Here only the key of the node has to be given due to routing issues as id contains a /</li>
</ul>"
  id="s"
  class="popoverLink">
  s
</a>

