(function() {
  "use strict";
  var FoxxApplication = require("org/arangodb/foxx").Application,
    app = new FoxxApplication();

    <%= man.nodesCreateFunction("Hallo Welt") %>
    
    <%= man.nodesPatchFunction("Hallo Welt") %>
  
  app.start(applicationContext);
}());
