{
  "name": "<%=config.name %>",
  "version": "<%=config.version %>",
  "description": "<%=config.description %>",

  "setup": "scripts/setup.js",
  "teardown": "scripts/teardown.js",

  "apps": {
    "/": "app.js"
  },
  
  "lib": ".",

  "files": {
    "img": "<%= config.imgPath %>"
  },
	
	"assets": {
    "index.html": {
      "files": [
        "assets/index.html"
      ]
    },
		
		"thirdparty.js": {
			"basePath": "<%= config.libPath %>",
			"files": [
				"jquery-1.8.3.js",
        "underscore.js",
		  	"d3.v3.js",
		  	"d3.fisheye.js",
				"bootstrap.js"
			]
		},
    
		"app.js": {
			"basePath": "<%= config.graphPath %>",
			"files": [
        "graph/webWorkerWrapper.js",
		  	"graph/colourMapper.js",
		  	"graph/forceLayouter.js",
		  	"graph/eventLibrary.js",
		  	"graph/eventDispatcher.js",
		  	"graph/nodeShaper.js",
		  	"graph/edgeShaper.js",
		  	"graph/abstractAdapter.js",
		  	"graph/foxxAdapter.js",
		  	"graph/zoomManager.js",
        "graph/modularityJoiner.js",
		  	"graph/nodeReducer.js",
		  	"ui/modalDialogHelper.js",
		  	"ui/nodeShaperControls.js",
		  	"ui/edgeShaperControls.js",
		  	"ui/arangoAdapterControls.js",
		  	"ui/layouterControls.js",
		  	"ui/uiComponentsHelper.js",
		  	"ui/eventDispatcherControls.js",
		  	"ui/graphViewerWidget.js",
				"graphViewer.js"
			]
		},
		
		"style.css": {
			"basePath": "<%= config.cssPath %>",
			"files": [
        "style/bootstrap.min.css",
				"style/graphlayout.css"
			]
		}
	}
}
