{
  "name": "<%=config.name %>",
  "version": "<%=config.version %>",
  "description": "<%=config.description %>",

  "setup": "scripts/setup.js",
  "teardown": "scripts/teardown.js",

  "apps": {
    "/": "app.js"
  },
  
  "lib": ".",

  "files": {
  }
}
