{
  "name": "<%=config.name %>",
  "version": "<%=config.version %>",
  "description": "<%=config.description %>",

  "setup": "scripts/setup.js",
  "teardown": "scripts/teardown.js",

  "apps": {
    "/": "app.js"
  },
  
  "lib": ".",

  "files": {
  },
	
	"assets": {
    "index.html": {
      "files": [
        "assets/index.html"
      ]
    },
		
		"app.js": {
			"basePath": "<%=config.basePath%>",
			"files": [
			 "meier.js"
			]
		},
		
		"style.css": {
			"files": []
		}
	}
}
